{% extends 'template.html.twig' %}

{% block title %}BC24-Fonctionnement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <h1>Comment fonctionne BC24 ?</h1><br><br>
            <h6>BC24 est une application qui vous permet de vérifier la qualité de vos produits en scannant le code-barres.</h6>
            <h6>Il suffit de suivre les étapes ci-dessous :</h6>
        </div>
    </div>
    <div id="features-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-medium">
                    <section class="box feature">
                        <a class="image featured"><img src="{{ asset('images/acheter.jpg') }}" alt="Achetez vos produits" /></a>
                        <div class="inner">
                            <header>
                                <h2>1. Acheter vos produits</h2>
                            </header>
                            <p>Trouvez les meilleurs produits pour vos besoins.</p>
                        </div>
                    </section>
                </div>
                <div class="col-4 col-12-medium">
                    <section class="box feature">
                        <a class="image featured"><img src="{{ asset('images/scanner.jpg') }}" alt="Scannez le code" /></a>
                        <div class="inner">
                            <header>
                                <h2>2. Scanner le code-barres du produit</h2>
                            </header>
                            <p>Scannez facilement pour obtenir des informations en temps réel.</p>
                        </div>
                    </section>
                </div>
                <div class="col-4 col-12-medium">
                    <section class="box feature">
                        <a class="image featured"><img src="{{ asset('images/verify.jpg') }}" alt="Vérifiez la qualité de votre produit" /></a>
                        <div class="inner">
                            <header>
                                <h2>3. Vérifier la qualité du produit</h2>
                            </header>
                            <p>Assurez-vous que le produit répond aux normes alimentaires.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="container" align ="center">
            <section class="last">
                <h2>Des questions ?</h2><br>
                <a href="#" class="button large icon solid fa-arrow-circle-right">Nous contacter</a>
            </section>
        </div>
    </div>
{% endblock %}
