{% extends 'pro/proTemplate.html.twig' %}

{% block title %}BC24 Admin{% endblock %}

{%  block sidebar %}

<div class="sidebar-heading"> Opérations </div>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_admin_add') }}">
            <i class="fas fa-fw fa-plus"></i>
            <span>Ajouter une ressource</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_admin_modify') }}">
            <i class="fas fa-fw fa-edit"></i>
            <span>Modifier une ressource</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_admin_reportList') }}">
            <i class="fas fa-fw fa-exclamation-circle"></i>
            <span>Check le dernier report de ressource</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_admin_request_check') }}">
            <i class="fas fa-fw fa-tools"></i>
            <span>Check les demandes de rôles</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_admin_userList') }}">
            <i class="fas fa-fw fa-users"></i>
            <span>Gestion des Utilisateurs</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_productionSite') }}">
            <i class="fas fa-fw fa-industry"></i>
            <span>Création de site de production</span></a>
    </li>

{% endblock %}


{% block titrePro %}Admin{% endblock %}

{% block body %}
    <hr class="sidebar-divider my-0">
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Bienvenue sur la page d'administration de BC24</h1>
        <p>Vous pouvez naviguer dans le menu de gauche pour accéder aux différentes fonctionnalités de l'application.</p>
    </div>


{% endblock %}




