{% extends 'admin/admin.html.twig' %}

{% block body %}

    <div class="container-fluid">
    <h1>Modification de la ressource {{resource.id}}</h1>


        {{ form_start(form) }}
        <label> Nom de la ressource:
            <select name="{{ field_name(form.ResourceName) }}" class="form-control">
                {% for name, id in field_choices(form.ResourceName) %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>
        </label>

        {{ form_row(form.isContamined, {
            label: 'Est dangereux'
        }) }}

        {{ form_row(form.weight, {
            label: 'Poids en grammes'
        })
        }}
       {{ form_row(form.price, {
            label: 'Prix en euros'
        })
        }}
        {{ form_row(form.description, {
            label: 'Description'
        })
        }}

        <label> NFC des Composants :
            {% for i in 0..(components|length - 1) %}
                <input class="ml-3" type="number" name="{{ field_name(form.components) }}" value="{{ components[i].id }}">
            {% endfor %}

        </label>

        <br>

        <label> Lieu d'origine :
            <select name="{{ field_name(form.origin) }}" class="form-control">
                {% for name, id in field_choices(form.origin) %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>
        </label>

        <br><br>

    {{ form_end(form) }}
    </div>
{% endblock %}


