{% extends 'admin/admin.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
    <h1 style='text-align:center'>Liste des Utilisateurs</h1>
    <hr>
    <div class="container">
        {% if UserRoleRequest %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>ID</th>
                                    <th>Rôle souhaité</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for userRequest in UserRoleRequest %}

                                    <tr>
                                        <td>{{ userRequest.User.lastname }}</td>
                                        <td>{{ userRequest.User.firstname }}</td>
                                        <td>{{ userRequest.User.id }}</td>
                                        <td>{{ userRequest.roleRequest|replace({'ROLE_': ''})|capitalize }}</td>
                                        <td>{{ userRequest.description }}</td>
                                        <td>
                                            <a href="{{ path('app_admin_request_roleEdit', {'id': userRequest.id, 'validation' : "true" , 'role' : userRequest.roleRequest}) }}" class="btn btn-primary">Accepter</a>
                                            <a href="{{ path('app_admin_request_roleEdit', {'id': userRequest.id, 'validation' : "false", 'role' : userRequest.roleRequest}) }}" class="btn btn-primary">Refuser</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <h2 style="text-align: center">Pas de requête actuellement</h2>
        {% endif %}
    </div>

{% endblock %}
